<h2>Welcome {{user.username}}</h2>
<h4>Your Items</h4>
{{#if items}}
<table class="striped">
  <thead>
    <tr>
      <th>Item </th>
      <th>Bid Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    <tr>
      <td>
        <a href="/items/show/{{id}}">{{name}}</a>
      </td>
      <td>{{formatDate bid_time 'MMMM Do YYYY,h:mm:ss a'}}</td>
      <td>
        <span class="dash-status">{{status}}</span>
      </td>
      <td>
        <a class=" btn left-align" href="/items/edit/{{id}}">
          <i class="fa fa-pencil"></i> Edit
        </a>
        <form action="/items/{{id}}?_method=DELETE" method="POST" id="delete-form">
          <input type="hidden" name="_method" value="DELETE">
          <button type='submit' class="btn red">
            <i class="fa fa-remove"></i> Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<p>You have no items..</p>
{{/if}}